.app{
    display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #a1642a;
  padding: 20px;
  width: 65vh;
  margin:auto;
  margin-top : 0px;
    
}

.edit , .O, .X{
    background-color: rgba(255, 255, 255, 0.8);
    display:flex;
    align-items: center;
    justify-content: center;
    height:20vh;
    width:20vh;
    font-size: 500%;

}
.head{
    text-align: center;
    padding: 10px
}
.winner{
    position:absolute;
    left:20vw;
    top : 35%;
    z-index:1;
    height:30vh;
    width: 60vw;
    background-color: rgb(149, 218, 191);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tictactoe{
    background-color: rgb(78, 87, 82);
    height:100vh;
}
.reloadBtn{
    margin-left:20px;
    padding: 0.6rem;
    width:5rem;
    background-color:rgb(175, 25, 25);
    border-radius: 5px;
    border-style: none;
    color:white;
}
.reloadBtn:hover{
    background-color:rgb(226, 133, 133);
}

@media only screen and (max-width:600px){

    .app{
        width: 80vw;   
    }
    .edit , .O, .X{
        height:13vh;
        width:13vh;
    }
    .winner{
        width:90vw;
        left:5vw;
    }

}